# Output images
output/**/*
!output/.gitkeep

# Output images - Server mode
images/**/*
!output/.images

# Downloaded models
models/**/*
!models/.gitkeep

# Downloaded LoRAs
lora/**/*
!lora/.gitkeep

# Pycache
__pycache__/

# Virtual environment
.venv/

# macOS
.DS_Store

start.sh
server-start.sh
